<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="./static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="./static/css2/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#"></a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#"></a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>


  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Predict the Price</h1>
      <div class="row center">
        <h5 class="header col s12 light">Enter the Information of House to Predict the Price
        <br>
        </h5>
      </div>

              <div class="row">
    <form action='/predict' method="post" class="col s12">
      <div class="row">

        <div class="input-field col s4">
            <label><b>Bathrooms</b></label>
            <br>
          <input placeholder="Bathrooms" width="48" height="10" name="bathrooms" type="number"  class="validate">
        </div>
        <div class="input-field col s4">
            <label><b>balcony</b></label>
            <br>
          <input placeholder="Balcony" width="48" height="10" name="balcony" type="number"  class="validate">
        </div>

        <div class="input-field col s4">
            <label><b>total_sqft_int</b></label>
            <br>
          <input placeholder="Total Squre Foot" width="48" height="10" step=".01" name="total_sqft_int" type="number"  class="validate">
        </div>


        <div class="input-field col s4">
            <label><b>BHK</b></label>
            <br>
          <input placeholder="BHK" width="48" height="10" name="bhk" type="number"  class="validate">
        </div>



        <div class="input-field col s4">
            <label><b>price_per_sqft</b></label>
            <br>
          <input placeholder="Price Per Squre Foot" step=".01" width="48" height="10" name="price_per_sqft" type="number"  class="validate">
        </div>


        <div class="input-field col s4">
            <label><b>area_type</b></label>
            <br>
          <input placeholder="area_type" width="48" height="10" name="area_type" type="text"  class="validate">
        </div>

        <div class="input-field col s4">
            <label><b>availability</b></label>
            <br>
          <input placeholder="availability" width="48" height="10" name="availability" type="text"  class="validate">
        </div>

        <div class="input-field col s4">
            <label><b>location</b></label>
            <br>
          <input placeholder="location" width="48" height="10" name="location" type="text"  class="validate">
        </div>

      </div>

      <div class="row center">

          <button type="submit" class="btn-large waves-effect waves-light orange">Predict Probability</button>
      </div>
    </form>
      </div>
<div class="container">
      <h1 class="header center orange-text"><br>
        {{ prediction_text }}<br></h1>

    </div>
  </div>


    <br><br>
  </div>
  </div>>



  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src=".js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>

